flows p.json
[{"id":"e02d6860.a92638","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6a16dded.91e924","type":"function","z":"e02d6860.a92638","name":"PreToken","func":"global.set(\"preg\",msg.payload.pg)\nglobal.set(\"plas\",msg.payload.ps)\nglobal.set(\"pres\",msg.payload.pr)\nglobal.set(\"Skin\",msg.payload.sk)\nglobal.set(\"test\",msg.payload.te)\nglobal.set(\"mass\",msg.payload.ma)\nglobal.set(\"pedi\",msg.payload.pe)\nglobal.set(\"age\",msg.payload.ag)\nvar apikey=\"BujQ7Cb5RIMNmxQAfuuZzxQhwML3kqOU-GinygXcpp7e\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["3f38e631.345d9a"]]},{"id":"3f38e631.345d9a","type":"http request","z":"e02d6860.a92638","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":340,"wires":[["9e77f140.9c9b1"]]},{"id":"8333f003.224e","type":"debug","z":"e02d6860.a92638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":60,"wires":[]},{"id":"9e77f140.9c9b1","type":"function","z":"e02d6860.a92638","name":"Pre Prediction","func":"var rd = global.get('pg')\nvar ad = global.get('ps')\nvar ms = global.get('pr')\nvar sk = global.get('sk')\nvar te = global.get('te')\nvar ma = global.get('ma')\nvar pe = global.get('pe')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"f1291979-efe3-41e4-9eb4-bd8ebd999e43\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \"plas\", \"pres\", \"Skin\",\"test\",\"mass\",\"pedi\",\"age\"], \"values\": [[pg,ps,pr,sk,te,ma,pe,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["b76f4954.9f1dd8"]]},{"id":"b76f4954.9f1dd8","type":"http request","z":"e02d6860.a92638","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"\t https://us-south.ml.cloud.ibm.com/v4/deployments/06837906-41b9-405c-b75e-57f1657338f0/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["73c29828.fff0b8"]]},{"id":"d0c6a7f3.eb4fd8","type":"ui_form","z":"e02d6860.a92638","name":"","label":"","group":"d17f70cd.cf179","order":1,"width":0,"height":0,"options":[{"label":"preg","value":"pg","type":"number","required":true,"rows":null},{"label":"plas","value":"ps","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"test","value":"te","type":"number","required":true,"rows":null},{"label":"mass","value":"ma","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pg":"","ps":"","pr":"","sk":"","te":"","ma":"","pe":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["6a16dded.91e924"]]},{"id":"b73dd5a1.70d3e8","type":"ui_text","z":"e02d6860.a92638","group":"d17f70cd.cf179","order":2,"width":0,"height":0,"name":"","label":"Diabetic Mellitus Prediction","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":420,"wires":[]},{"id":"73c29828.fff0b8","type":"function","z":"e02d6860.a92638","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["b73dd5a1.70d3e8","8333f003.224e"]]},{"id":"d17f70cd.cf179","type":"ui_group","z":"","name":"Internship","tab":"4d17e302.23024c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d17e302.23024c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]